registry=https://registry.npmmirror.com/
puppeteer_download_host=https://registry.npmmirror.com/-/binary
puppeteer_download_base_url=https://registry.npmmirror.com/-/binary/chromium-browser-snapshots
PUPPETEER_DOWNLOAD_HOST=https://registry.npmmirror.com/-/binary
PUPPETEER_DOWNLOAD_BASE_URL=https://registry.npmmirror.com/-/binary/chromium-browser-snapshots
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true 